@charset 'utf-8';

@import "~bulma/sass/utilities/functions";

@import "./styles/custom_colors.scss";

$custom-colors: (
  "custom-green-darker": ($custom-green-darker),
  "custom-green-lighter": ($custom-green-lighter),
  "custom-gray": ($custom-gray),
  "custom-gray-darker": ($custom-gray-darker),
  "custom-black": ($custom-black),
  "custom-orange": ($custom-orange),
);

.dashed_box {
  font-size: 14px;
  background: white;
  font-weight: bold;
  border: 1px dashed $custom-gray;
  padding-left: 20px;
  padding-right: 20px;
}

.modal_root {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
}

// Import Bulma styles
@import "~bulma/bulma";

// Import rbx style fixes (**very simple**)
@import "~rbx/rbx";