@import "~bulma/bulma";
@import "./custom_colors";

div.top-navbar {
  background-color: $white;
  border-bottom: 1px solid $custom-gray;
  
  nav.navbar {
    height: 70px;
      
    navbar{
      z-index: 1;
    }

    .navbar-brand {
      height: 100%;
      z-index: 1;
      
      img {
        height: 100%;
      }
    }

    .navbar-item.navbar-center {
      flex-grow: 1;
      justify-content: center;
    }
  }
}