.order-box {
    padding: 35px;
    margin: 0px 9em 2em 9em;

    div.subtotal {
      margin-top: 50px;
    }
   
    button.remove-button {
      padding-left: 10px;
      padding-right: 10px;
    }
}
